<html>
<body>
    <h1>{{header}}</h1>
    <h2 ><a href="{{link}}">Ritorna alla pagina precedente</a></h2>
    {%for graphJSON in graphsJSON%}
        <div id="chart{{loop.index}}" class="chart{{loop.index}}"></div>
    {%endfor%}
</body>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    {%for graphJSON in graphsJSON%}
        var graph = {{graphJSON | safe}};
        Plotly.plot('chart{{loop.index}}',graph,{});
    {%endfor%}
</script>
</html>
