<!-- Store this code in 'register.html' file inside the 'templates' folder -->
 
<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title> 
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
</style> 
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Registrazione</h1>
             </div></br></br></br>
            <h2 class="word">

			{% for d in digitalTwins%}
      				<div class="myDiv">
				<p>{{d.id_room}}</p>
				<p>{{d.temperature_sensor}}</p>
				<p>{{d.humidity_sensor}}</p>
				<p>{{d.light_sensor}}</p>
				<p>{{d.led_actuactor}}</p>
				<p>{{d.temperature_actuactor}}</p>
				<p>{{d.led_brightness}}</p>
				<p>{{d.healthy}}</p>				
				</div>
  			{% endfor %}
            </h2>
            <p class="bottom">Hai già un account?  <a class="bottom" href="{{url_for('login')}}">Accedi qui</a></p>
          </div>
        </div>
    </body>
</html>

<script>

setTimeout(() => { console.log("World!"); }, 5000);

</script>