<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
        body {
         background-image: url({{ url_for('static', filename='Files/pic2-transformed.jpeg')}});
         background-color: #cccccc;
         background-size: 100% 100%;
        background-repeat: no-repeat;
        }
        input[type=button], input[type=submit], input[type=reset] {
          background-color: #04AA6D;
          border: none;
          color: white;
          padding: 16px 32px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
        }</style>
    </head>
    <body></br></br></br></br></br>
	<h1 class="word" align="center""">Benvenuto {{username}}</h1>
        <div align="center">
          <div align="center" class="border">
             <div class="header">

	<div class= "container" style="background-color:white; border-radius:10px">
	<div class="d-flex justify-content-center">
		<p>Temperatura esterna: {{weather['temperature']}}</p>
	</div>
	<div class="d-flex justify-content-center">
		<p>Umidità esterna: {{weather['humidity']}}%</p>
	</div>
</div>


	
		<p>Stanza occupata:{{digitalTwin.id_room}}</p>
		<form action="{{ url_for('update') }}" method="post">
			<p>Colore luce:</p>
			<select id="color" name="color"  required>
			{% if digitalTwin.led_actuator == 'RED' %}
			<option value=1 selected>Rosso</option>
			{%else%}
			 <option value=1>Rosso</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'ORANGE' %}
			<option value=2 selected>Arancione</option>
			{%else%}
			<option value=2>Arancione</option>
			{% endif %}
			{%  if digitalTwin.led_actuator == 'YELLOW' %}
			<option value=3 selected>Giallo</option>
			{%else%}
			<option value=3>Giallo</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'GREEN' %}
			<option value=4 selected>Verde</option>
			{%else%}
			<option value=4>Verde</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'TEAL' %}
			<option value=5 selected>Acqua</option>
			{%else%}
			<option value=5>Acqua</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'BLUE' %}
			<option value=6 selected>Blu</option>
			{%else%}
			<option value=6>Blu</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'INDIGO' %}
			<option value=7 selected>Viola</option>
			{%else%}
			<option value=7>Viola</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'VIOLET' %}
			<option value=8 selected>Fucsia</option>
			{%else%}
			<option value=8>Fucsia</option>
			{% endif %}
			{%  if digitalTwin.led_actuator == 'RAINBOW' %}
			<option value=9 selected>RGB</option>
			{%else%}
			<option value=9>RGB</option>
			{% endif %}




			</select>
			</br></br>
			<p>Intensità luce:</p>
			<select id="brightness" name="brightness"  required>
			{% if digitalTwin.led_brightness == 'LOW' %}
			<option value=0 selected>Bassa</option>
			{%else%}
			<option value=0>Bassa</option>
			{% endif %}

			{%  if digitalTwin.led_brightness == 'MEDIUM'%}
			<option value=1 selected>Media</option>
			{%else%}
			<option value=1>Media</option>
			{% endif %}

			{%  if digitalTwin.led_brightness == 'HIGH'%}
				<option value=2 selected>Forte</option>
			{%else%}
				<option value=2>Forte</option>
			{% endif %}

			</select>
			</br></br>
			<p>Riscaldamento:</p>
			<input type="number" min="17" max="30" id="temperature" name="temperature" value={{digitalTwin.temperature_actuator}} required /><br></br>
			<input type="submit" class="btn" value="update"></br></br>
		</form>
             </div></br></br></br>
            <h2 class="word">
		<form action="{{ url_for('freeRoom') }}" method="post">
                  <div>Libera la stanza</div>
                    <input type="submit" class="btn" value="freeroom"></br></br>
                </form>
                <form action="{{ url_for('logout') }}" method="post">
                  <div>logout</div>
                    <input type="submit" class="btn" value="Logout"></br></br>
                </form>
				{%if admin == 1%}
					<form action="/admin">
						<input type="submit" class="btn" value="Schermata Admin" />
					</form></br></br>
				{% endif %}
            </h2>
          </div>
        </div>

    </body>
</html>