<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">          
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Benvenuto {{username}}</h1>
		<h1 class="word">Dati utente</h1>
		<p>Stanza occupata:{{digitalTwin.id_room}}</p>
		<form action="{{ url_for('update') }}" method="post">
			<p>Colore luce:</p>
			<select id="color" name="color"  required>
			{% if digitalTwin.led_actuator == 'RED' %}
			<option value=1 selected>Rosso</option>
			{%else%}
			 <option value=1>Rosso</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'ORANGE' %}
			<option value=2 selected>Arancione</option>
			{%else%}
			<option value=2>Arancione</option>
			{% endif %}
			{%  if digitalTwin.led_actuator == 'YELLOW' %}
			<option value=3 selected>Giallo</option>
			{%else%}
			<option value=3>Giallo</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'GREEN' %}
			<option value=4 selected>Verde</option>
			{%else%}
			<option value=4>Verde</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'TEAL' %}
			<option value=5 selected>Acqua</option>
			{%else%}
			<option value=5>Acqua</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'BLUE' %}
			<option value=6 selected>Blu</option>
			{%else%}
			<option value=6>Blu</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'INDIGO' %}
			<option value=7 selected>Viola</option>
			{%else%}
			<option value=7>Viola</option>
			{% endif %}

			{%  if digitalTwin.led_actuator == 'VIOLET' %}
			<option value=8 selected>Fucsia</option>
			{%else%}
			<option value=8>Fucsia</option>
			{% endif %}
			{%  if digitalTwin.led_actuator == 'RAINBOW' %}
			<option value=9 selected>RGB</option>
			{%else%}
			<option value=9>RGB</option>
			{% endif %}




			</select>
			</br></br>
			<p>Intensità luce:</p>
			<select id="brightness" name="brightness"  required>
			{% if digitalTwin.led_brightness == 0 %}
			<option value=0 selected>Spenta</option>
			{%else%}
			<option value=0>Spenta</option>
			{% endif %}

			{%  if digitalTwin.led_brightness == 1 %}
			<option value=1 selected>Bassa</option>
			{%else%}			
			<option value=1>Bassa</option>
			{% endif %}

			{%  if digitalTwin.led_brightness == 2%}
			<option value=2 selected>Media</option>
			{%else%}
			<option value=2>Media</option>
			{% endif %}

			{%  if digitalTwin.led_brightness == 3%}
				<option value=3 selected>Forte</option>
			{%else%}
				<option value=3>Forte</option>
			{% endif %}

			</select>
			</br></br>
			<p>Riscaldamento:</p>
			<input type="number" min="18" max="30" id="temperature" name="temperature" value={{digitalTwin.temperature_actuator}} required /><br></br>
			<input type="submit" class="btn" value="update"></br></br>
		</form>
             </div></br></br></br>
            <h2 class="word">
		<form action="{{ url_for('freeRoom') }}" method="post">
                  <div>Libera la stanza</div>
                    <input type="submit" class="btn" value="freeroom"></br></br>
                </form>
                <form action="{{ url_for('logout') }}" method="post">
                  <div>logout</div>
                    <input type="submit" class="btn" value="Logout"></br></br>
                </form>
		
            <p class="bottom">Aggiorna dati utente<a class="bottom" href="{{url_for('updateuserdata')}}">Clicca qui</a></p>
            
            <p class="bottom">Aggiorna le credenziali<a class="bottom" href="{{url_for('updatecredentials')}}">Clicca qui</a></p>
            </h2>
          </div>
        </div>
    </body>
</html>