<!-- Store this code in 'register.html' file inside the 'templates' folder -->
 
<html>
    <head>
        <meta charset="UTF-8">
        <title> Dashboard</title>
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Aggiorna dati utente</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('updatecredentials') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required/></br></br></br>
		    <input id="new_password" name="new_password" type="password" placeholder="Enter Your New Password" class="textbox" required/></br></br></br>
		    <input id="new_password_confirm" name="new_password_confirm" type="password" placeholder="Confirm Your New Password" class="textbox" required/></br></br></br>
		    <input type="submit" class="btn" value="Aggiorna"></br>
                </form>
            </h2>
            <p class="bottom">Torna alla pagina principale<a class="bottom" href="{{url_for('userpage')}}">Clicca qui</a></p>
          </div>
        </div>
    </body>
</html>