<!-- Store this code in 'register.html' file inside the 'templates' folder -->
 
<html>
    <head>
        <meta charset="UTF-8">
        <title> Dashboard schifosa</title>  
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Aggiorna dati utente</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('updateuserdata') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <select id="sex" name="sex" required>
				{%  if user.sex == 1 %}
					<option value=1 selected>Maschio</option>
				{%else%}
					<option value=1>Maschio</option>
				{% endif %}
				{%  if user.sex == 2 %}
					<option value=2 selected>Femmina</option>
				{%else%}
					<option value=2>Femmina</option>
				{% endif %}
				{%  if user.sex == 3 %}
					<option value=3 selected>Altro</option>
				{%else%}
					<option value=3>Altro</option>
				{% endif %}
		    </select>
		    <select id="profession" name="profession" value=1 required>
				{%  if user.name == Admin %}
					<option value=1 selected>Admin</option>
				{% else %}
				{% for job in jobs%}
					{%  if user.profession == job.name %}
						<option value={{job.id_profession}} selected>{{job.name}}</option>
					{%else%}
						<option value={{job.id_profession}}>{{job.name}}</option>
				{% endif %}

  			{% endfor %}
				{% endif %}
		    </select>
		    <input type="submit" class="btn" value="Aggiorna"></br>
                </form>
            </h2>
            <p class="bottom">Torna alla pagina principale<a class="bottom" href="{{url_for('userpage')}}">Clicca qui</a></p>
          </div>
        </div>
    </body>
</html>