<!-- Store this code in 'register.html' file inside the 'templates' folder -->
 
<html>
    <head>
        <meta charset="UTF-8">
        <title> Dashboard schifosa</title>  
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Registrazione</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
		    <select id="building" name="building" value=1 required>
			{% for job in jobs%}
      				<option value={{job.id_profession}}>{{job.name}}</option>
  			{% endfor %}
		    </select>
		    <input type="submit" class="btn" value="Occupa"></br>
                </form>
            </h2>
            <p class="bottom">Hai già un account?  <a class="bottom" href="{{url_for('login')}}">Accedi qui</a></p>
          </div>
        </div>
    </body>
</html>